<!doctype html>
<html lang="en">
<head>
  <title>Pick Suggestions</title>
  <style>
	table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
	}
    th, td {
      padding: 15px;
    }
  </style>
</head>
<body>
  Sample size: {{result['sample']}}  win: {{result['avg_win']|round(1)}}%
  <table style="width:100%">
    <tr>
      <th>Picks</th>
      <th>Bans</th>
    </tr>
    {% set picks = result['picks'] %}
    {% set bans = result['bans'] %}
	{% for i in range(10) %}
		<tr>
		{% if picks[i] %}
			<td><img src="{{picks[i]['icon']}}" alt="{{picks[i]['name']}}"> {{picks[i]['name']}}  Games:{{picks[i]['games']}}  Win:{{picks[i]['win']|round(1)}}%</td>
		{% else %}
			<td /> 
		{% endif %}
		{% if bans[i] %}
			<td><img src="{{bans[i]['icon']}}" alt="{{bans[i]['name']}}"> {{bans[i]['name']}}  Games:{{bans[i]['games']}}  Win:{{bans[i]['against_win']|round(1)}}%</td>
		{% else %}
			<td /> 
		{% endif %}
		</tr>
	{%- endfor %}
  </table>
  <a href="/?id={{id}}">back</a>
</body>
</html>
