<!doctype html>
<html lang="en">
<head>
  <title>Pick Suggestions</title>
  <style>
	table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
	}
    th, td {
      padding: 15px;
    }
  </style>
</head>
<body>
  {% if mode %}
    <H3> {{mode}} matchmaking </H3>
  {% endif %}
  Sample size: {{result['sample']}}  win: {{result['avg_win']|round(1)}}%
  <table style="width:100%">
    <tr>
      <th>Picks</th>
      <th>Bans</th>
    </tr>
    {% set picks = result['picks'] %}
    {% set bans = result['bans'] %}
	{% for i in range(10) %}
		<tr>
		{% if picks[i] %}
			<td><img src="{{picks[i].icon}}" alt="{{picks[i].name}}"> <a href="/{{id}}/synergies/{{picks[i].hero_id}}?{{query}}">{{picks[i].name}}</a>  Games:{{picks[i].games}}  Win:{{picks[i].winrate|round(1)}}%</td>
		{% else %}
			<td /> 
		{% endif %}
		{% if bans[i] %}
            <td><img src="{{bans[i].icon}}" alt="{{bans[i].name}}"> <a href="/{{id}}/synergies/{{bans[i].hero_id}}?{{query}}">{{bans[i].name}}</a>  Games:{{bans[i].against_games}}  Win:{{bans[i].against_winrate|round(1)}}%</td>
		{% else %}
			<td /> 
		{% endif %}
		</tr>
	{%- endfor %}
  </table>
  <a href="/?id={{id}}&{{query}}">back</a>
</body>
</html>
