<!doctype html>
<br lang="en">
<head>
  <title>Synergy Suggestions</title>
  <style>
	table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
	}
    th, td {
      padding: 15px;
    }
  </style>
</head>
<br>
  {% if mode %}
    <H3> {{mode}} matchmaking </H3>
  {% endif %}
Sample size: {{result['sample']}}  win: {{result['avg_win']|round(1)}}% </br>
<Form action="/{{id}}/synergies/redirect?{{query}}">
    Synergy
    <select name="counter_id">
        {% for h in heroes %}
            {% if h.id|int == result['counter_hero']|int %}
                <option value={{h.id}} selected>{{h.localized_name}}</option>
            {% else %}
                <option value={{h.id}}>{{h.localized_name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type=hidden name="query" value="{{query}}">
    <input type=submit value=Change>
</Form>
  <table style="width:100%">
    <tr>
      <th>Picks</th>
    </tr>
    {% set picks = result['picks'] %}
    {% set bans = result['bans'] %}
	{% for i in range(10) %}
		<tr>
		{% if picks[i] %}
			<td><img src="{{picks[i].icon}}" alt="{{picks[i].name}}"> {{picks[i].name}}  Games:{{picks[i].games}}  Win:{{picks[i].winrate|round(1)}}%</td>
		{% else %}
			<td />
		{% endif %}
		</tr>
	{%- endfor %}
  </table>
  <a href="/?id={{id}}&{{query}}">back</a>
</body>
</html>