<!doctype html>
<br lang="en">
<head>
  <title>Synergy Suggestions</title>
  <style>
	table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
	}
    th, td {
      padding: 15px;
    }
  </style>
</head>
<br>
  {% if mode %}
    <H3> {{mode}} matchmaking </H3>
  {% endif %}
<Form action="/{{id}}/synergies/redirect?{{query}}">
    Synergy
    <select name="synergy_id">
        {% for h in heroes %}
            {% if h.id|int == result['synergy_id']|int %}
                <option value={{h.id}} selected>{{h.localized_name}}</option>
            {% else %}
                <option value={{h.id}}>{{h.localized_name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type=hidden name="query" value="{{query}}">
    <input type=submit value=Change>
</Form>
  <table style="width:100%">
    <tr>
      <th>Picks with</th>
        <th>Picks against</th>
    </tr>
    {% set with_set = result['with'] %}
    {% set against_set = result['against'] %}
	{% for i in range(10) %}
		<tr>
		{% if with_set[i] %}
			<td><img src="{{with_set[i].icon}}" alt="{{with_set[i].name}}">  <a href="/{{id}}/synergies/{{with_set[i].hero_id}}?{{query}}">{{with_set[i].name}}</a>  Games:{{with_set[i].games}}  Win:{{with_set[i].winrate|round(1)}}%</td>
		{% else %}
			<td />
		{% endif %}

        {% if against_set[i] %}
			<td><img src="{{against_set[i].icon}}" alt="{{against_set[i].name}}">  <a href="/{{id}}/synergies/{{against_set[i].hero_id}}?{{query}}">{{against_set[i].name}}</a>  Games:{{against_set[i].games}}  Win:{{against_set[i].winrate|round(1)}}%</td>
		{% else %}
			<td />
		{% endif %}

		</tr>
	{%- endfor %}
  </table>
  <a href="/?id={{id}}&{{query}}">back</a>
</body>
</html>